<% include ../partials/header %>

    <div class="container">
        <header class= "jumbotron">
            <div class="container">
                <h1>Welcome to Travel Like Vasco!</h1>
                <p>View all the great and beautiful explored places.</p>
                <p>
                    <a class="btn btn-primary btn-md" href="/sites/new">Add new Travel Site</a>
                </p>
            </div>
        </header>
        
        <div class="row" style="display:flex; flex-wrap:wrap;">
            <% sites.forEach(function(site){ %>
                 <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src=" <%= site.image %> ">
                        <div class="caption text-center">
                            <h4> <%= site.name %> </h4>
                            <p>
                                <a class="btn btn-primary" href="/sites/<%= site._id %>">More Info</a>
                            </p>
                        </div>
                    </div>
                 </div>
            <% }); %>
        </div>
    </div>
       
<% include ../partials/footer %>

